{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

<h1>Book Index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Publication Year</th>
                <th>Number Pages</th>
                <th>ISBN Code</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.publicationYear }}</td>
                <td>{{ book.numberPages }}</td>
                <td>{{ book.isbnCode }}</td>
                <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('book_new') }}">Create new</a> #}

{% endblock %}
