{% extends 'base.html.twig' %}

{% block title %}Borrowing index{% endblock %}

{% block body %}
<style>
    h1{ text-align: center; margin: 15px auto}
</style>
    <h1>Borrowing index</h1>

    <a href="{{ path('borrowing_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Borrowing_date</th>
                <th>Return_date</th>
                <th>Borrower</th>
                <th>Book</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrowing in borrowings %}
            <tr>
                <td>{{ borrowing.id }}</td>
                <td>{{ borrowing.borrowingDate ? borrowing.borrowingDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ borrowing.returnDate ? borrowing.returnDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ borrowing.borrower.firstname }} {{borrowing.borrower.lastname}}</td>
                <td>{{ borrowing.book.title }}</td>
                <td>
                    <a href="{{ path('borrowing_show', {'id': borrowing.id}) }}">show</a>
                    <a href="{{ path('borrowing_edit', {'id': borrowing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
